@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

main {
  flex: 1;
}

/* For the scrollbar track and thumb */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #333;
  /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Darker scrollbar thumb */
  border-radius: 4px;
}

/* Optional: add a hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  /* Slightly lighter shade on hover */
}

/* Firefox scrollbar styling */
scrollbar-color: #555 #333;
/* thumb color, track color */
scrollbar-width: thin;
/* makes the scrollbar thinner */


@layer utilities {

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .text-balance {
    text-wrap: balance;
  }

  .after-line {
    @apply after:border after:w-full after:absolute after:top-12 after:left-0
  }

  .input-field {
    @apply text-white p-2 px-4 rounded-md font-semibold
  }

  .textarea-field {
    @apply text-white p-2 px-4 rounded-md font-semibold
  }

  .link-after {
    @apply absolute w-full h-[2px] bottom-0 left-0 top-[28px] invisible scale-x-0 transition-all duration-300 ease-in-out group-hover:visible group-hover:scale-x-100
  }

  .link-hover {
    @apply visible scale-x-100 bg-blue-500
  }

  .base-bold {
    @apply text-[16px] font-bold leading-[24px];
  }

  .glow-before {
    @apply before:g8 before:absolute before:left-[40%] before:top-0 before:z-[4] before:h-0.5 before:w-[60%] before:opacity-0 before:transition-all before:duration-500 before:content-[''] group-hover:before:left-4 group-hover:before:opacity-40;
  }

  .glow-after {
    @apply after:g8 after:absolute after:bottom-0 after:left-4 after:z-[4] after:h-0.5 after:w-[35%] after:opacity-0 after:transition-all after:duration-500 after:content-[''] group-hover:after:left-[60%] group-hover:after:opacity-40;
  }

  .inner-before {
    @apply before:g7 before:absolute before:inset-0 before:opacity-0 before:transition-opacity before:duration-500 before:content-[''];
  }

  .g4 {
    background: linear-gradient(#253575, #162561);
  }

  .g5 {
    background: linear-gradient(#334679, #162561);
  }

  .g7 {
    background: linear-gradient(#1b275a, #0e1434);
  }

  .g8 {
    background: linear-gradient(to right, transparent, #2ef2ff, transparent);
  }
}

@layer components {
  .lightLiveLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 28px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .lightLiveLink:hover::after {
    visibility: visible;
    transform: scaleX(1);
    background-color: azure;
  }
}